body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background: #f7f7f7;
}

header, main {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}
img {
    width: 100%;
}
main {
    position: relative;
    height: 100vh;

}

.feed {
    height: 50%;
    overflow-y: auto;
    margin-bottom: 25px;
}

.child {
    width: 88%;
    height: 25%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 10px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
    border-radius: 6px;
    margin-bottom: 2px;
}

.order-summary {
    border-radius: 6px;
    margin: 0 auto;
    width: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 25px;
}
.ordered-items {
    overflow-y: auto;
}

.orders-total,
.ordered-item
{
    margin-top: 5px;
    width: 90%;
    padding: 4px 4px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ordered-item {
    gap: 12px;
} 
.orders-total, .ordered-item {
    font-size: 16px;
    font-weight: bold;
}
.item-price, .total-price {
    margin: 0 0 auto auto;
    font-size: 14px;
}

.ordered-item button {
    border: none;
    font-size: 11px;
    color: #666666;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 6px;
    transition: all 0.2s ease;
}

.ordered-item button:hover,
.order-items button:focus,
.order-items button:active
{
    color: #ffffff;
    background-color: #ff5a5f;
}
.order-summary h3 {
    font-size: 16px;
    text-align: center;
}
.order-summary hr {
    width: 92%;
    height: 2px;
    border: none;
    background-color: #000;

}
.complete-order {
    width: 100%;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #16DB99;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
.complete-order:hover, 
.complete-order:focus,
.complete-order:active
{
    color: #ffffff;
     background-color: #12b886;
}

.card-details {
    display: none;
    background-color: #ffffff;
    width: 75%;
    height: 45%;
    padding: 10px 10px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 13px;
    z-index: 2;
}

.confirmation-rating {
    display: none;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ECFDF5;
}
.confirmation {
    border-radius: 8px;
    padding: 15px 12px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #065F46;
    background-color: #C6F1D7;
    margin-bottom: 4px;
}

.rating {
    display: none;
    width: 75%;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: #065F46;
    background-color: #C6F1D7;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 4px;
}
.home-btn {
    border: none;
    padding: 4px 10px;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #065F46;
    transition: all 0.2s ease;
}

.home-btn:hover,
.home-btn:active,
.home-btn :focus
{
    color: #ffffff;
    background-color: #12b886; 
}
.filled {
    color: #12b886;
}

.rating span {
    font-weight: bold;
}
.visible {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.payment, input {
    padding: 10px;
    width: 70%;
    text-align: start;
    border-radius: 3px;
}

input {
     border: 1px solid #757575;
}
input::placeholder{
    color: #757575;
    opacity: 0.8;
   
}
.payment {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    background-color: #16DB99;
    color: white;
    border: none;
}

.payment:hover,
.payment:focus,
.payment:active
{
    color: #ffffff;
    background-color: #12b886;
}

.card-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-head h3{
    margin: auto;
    margin-top: 12px;
}

.child > span {
    font-size: 60px;
}

.child-attributes {
    width: 60%;
}

.title {
    display: block;
    font-size: 17px;
}

.child-attributes p {
    margin: 3px 0 6px 0;
    font-size: 12px;
    color: #8B8B8B;

}
.title,
.price
{
    font-weight: bold;
}

.price {
    font-size: 14px;
}

.add-btn {
    border: 1px solid #d9d9d9;
    color: #6b7280;
    margin: auto 0 auto auto;
    font-size: 14px;
    transition: all 0.2s ease;
}

.add-btn:hover,
.add-btn:focus,
.add-btn:active

{
    background-color: #16DB99;
    border-color: #16DB99;
    color: white;
}

.close-btn {
    color: #16DB99;
    margin: 0 0 auto auto;
    border: 1px solid #16DB99;
    font-size: 12px;
    transition: all 0.2s ease;
}

.close-btn:hover,
.close-btn:focus,
.close-btn:active
{
    Color: #ffffff;
    background-color: #ff5a5f;
    border: 1px solid #ff5a5f;

}

.add-btn,
.close-btn
{
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
}

/* Scrollbar hide */
.feed::-webkit-scrollbar,
.ordered-items::-webkit-scrollbar
{
    display: none;
}
.feed, .ordered-items  {
    scrollbar-width: none;
}

